*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color:#faebd7;
    --background:#1f1147;
}

body{
    background: var(--background);
    color: var(--color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}